{% extends 'recognition/template.html' %}
{% block title %}Leaves Recognition{% endblock %}
<!--
Lol
<form action="recognize" method="post">
    <input type="submit" value="Submit">
</form>
<ul>
    <li><a href="test.py">Try Me</a> </li>
</ul>
-->
{% block body %}
<section class="jumbotron">
    <div class="container">
    <div class="row" align="center">
        <figure class="col-sm-12">
            <figure class="col-sm-6"></figure>
            <figure class="col-sm-4 black">
                <br>
                <form action="{% url 'recognition:index' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" style="color:black;"/>
                </form >
                <br>
            </figure>
        </figure>
    </div>
        </div>
</section>
{%endblock%}