{% extends 'recognition/template.html' %}
{% block title %}Result{% endblock %}
<!--
<img src="{{ image.model_pic.url }}"/>
<h1>{{ object.pk }}</h1>
{%for i in s%}
sdkfjh
{%endfor%} img width: 100%;height: 100%; -->
{% block body %}
<section class="container col-centered" style="margin-top:20px;">
    <div class="row col-centered" align="center">

        <figure class="col-md-5  col-centered">
            <div class="thumbnail">
            <div class="caption">
                <p>Result:</p>
                <p>{{result}}</p>
                <canvas id="myDoughnutChart" style="max-width:100%"></canvas>
                <script>
                var ctx = document.getElementById("myDoughnutChart");
                var data = {
                    labels: [
                        "{{first_label}}",
                        "{{second_label}}"
                    ],
                    datasets: [
                        {
                            data: [{{first_score}}*100, {{second_score}}*100],
                            backgroundColor: [
                                "#FF6384",
                                "#36A2EB"
                            ],
                            hoverBackgroundColor: [
                                "#FF6384",
                                "#36A2EB"
                            ]
                        }]
                };
                    var myDoughnutChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: data,
                        options: {
                            responsive: false
                        }
                    });
                </script>
            </div>
                </div>
        </figure>

        <figure class="col-md-7  col-centered" style="margin-right:0px;">
            <div class="thumbnail">
            <div class="caption">
                <p>Your Image:</p>
                <img src='{{image.url}}' style="display: block;object-fit: cover;max-height: 600px;max-width: 100%;"/>
            </div>
                </div>
        </figure>

    </div>

</section>

{% endblock %}